cmake-build-debug
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile
tests/cmake_install.cmake
tests/CTestTestfile.cmake
tests/Makefile
tmp
build
sbin
dump
cmake-build-debug
statistics.csv
.RData
*.pdf
*.csv

*#*

.vscode/
CMakeFiles/
cmake_clang.sh
