*.dylib
*.cbp
install_manifest.txt
build
bin
cmake-build-debug
CTestTestfile.cmake
Testing/Temporary
carbon-temp-statistics--cache-monitor.csv
*.csv
book/libcarbon/latest/book
book/spec/latest/book
CMakeFiles
CMakeCache
.DS_Store
.idea
Makefile
cmake_install.cmake
CMakeCache.txt
libark-sources\.a
include/
libjakson-sources.a
